adafruit-blinka==8.20.1
adafruit-circuitpython-bme280==2.6.32
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-typing==1.9.5
adafruit-platformdetect==3.50.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
numpy==1.21.6
pandas==1.3.5
pkg-resources==0.0.0
pyftdi==0.54.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2026.2
pyusb==1.2.1
six==1.17.0
sysv-ipc==1.2.0
toml==0.10.2
typing-extensions==4.7.1
